<div class="preloader"></div>
<audio preload="auto" id="music" autoplay loop>
  <source src="music/karunesh_follow_your_heart.mp3" type="audio/mp3" />
  <source src="music/karunesh_follow_your_heart.ogg" type="audio/ogg" />
</audio>

<! -- ******************** MASTHEAD SECTION ******************** -->
<main id="top" class="masthead" role="main">
  <div class="container">
    <div id="map-canvas"></div>
    <div id="story-caption">Love Story</div>
	<p class="scrollto--arrow"><img src="images/scroll_down.png" alt="scroll down arrow"></p>
  </div><! --/container -->
</main><! --/main -->

<! -- ******************** TESTIMONIALS SECTION ******************** -->
<div class="highlight testimonials">
  <div class="container">
	<div class="section-title">
	  <h2>识</h2>
	</div>

	<section class="row breath">
	  <div class="col-md-6">
		<div class="testblock">
          <p>
          	那是一个冬天的夜晚,在一群不认识的人聚集在一起的饭桌上。烧烤店的人声嘈杂，公司的老板把所有认识的人都聚在了一起过农历新年。囍第一次看到了勒，那个满口东北口音的湖南妹子，目不转睛地盯着电视上的NBA比赛。而囍也在做同样的事，不过他心里想着：竟然有爱看NBA的妹子，值得认识一下。“你俩干嘛呢？”老板突然的斥责声把囍勒都从比赛中拽了出来：“出来吃饭看什么球？快和大家聊聊。”
 
 		  </p>


 		  <p>
            搭成囍和勒之间的重要桥梁-L，怎么说呢，是一个<strong>不同寻常</strong>的人。嗯，这样形容比较低调。不过没有L，也不会有囍和勒的今天，尽管L身患公主癌晚期，尽管囍对于L的取向有着生理上的排斥，尽管勒对L的指手画脚颇多不满，不过还是要谢谢L的介绍，并且谢谢L献出自己，作为囍勒早期共同吐槽的对象，为后续情节的发展做下了重要的铺垫，埋下了深深的伏笔。
          </p>
        </div>
		<div class="clientblock">
		  <img src="assets/lele.png" alt=".">
		  <p><strong>勒</strong></p>
		</div>
	  </div><! --/col-md-6 -->

	  <div class="col-md-6">
		<div class="testblock">
          勒爱小狗小猫<br>
          囍也是<br>
          勒生于湖南长沙<br>
          囍生于江苏扬州<br>
          他们有着惊人的想似之处<br>
          25岁的她，精神抖擞，欲使用浑身之解数来完成<strong>看电影</strong>的壮举。<br>
          27岁的他，踌躇满志，立志要将一生之精力献给<strong>打游戏</strong>之事业。<br>
          未曾想<br>
          囍勒相识之后，发现<br>
          原来囍也对电影略同一二，勒竟知道<strong>吓到猎车手</strong>！<br>
          <strong>相识是简单与美好</strong><br>
          ...(其实这行是为了下面的头像能对齐，你们知道就行了别戳穿)<br>
        </div>
		<div class="clientblock">
		  <img src="assets/xi.png" alt=".">
		  <p><strong>囍</strong></p>
		</div>
	  </div><! --/col-md-6 -->
	</section><! --/section -->

  </div><! --/container -->
</div><! --/highlight Testimonials -->

<!-- testimonials 2 -->
<div class="testimonials">
  <div class="container">
	<div class="section-title">
	  <h2>恋</h2>
	</div>

	<section class="row breath">
	  <div class="col-md-6">
		<div class="testblock">
          <p>
           	难忘啊，C岛的美丽<br>
			难忘啊，圣胡安的小猫<br>
			难忘啊，西雅图的无聊<br>
			难忘啊，Vegas的300刀<br>
			难忘啊，玫瑰lemonade的芬芳<br>
			难忘啊，日本庭院的妖娆<br>
          </p>
        </div>
		<div class="clientblock">
		  <img src="assets/lele.png" alt=".">
		  <p><strong>勒</strong></p>
		</div>
	  </div><! --/col-md-6 -->

	  <div class="col-md-6">
		<div class="testblock">
          	记得那Manimal绝杀的比赛<br>
		  	记得那枯山上纵览硅谷全貌的夜晚<br>
			记得那盛开的郁金香<br>
			记得那坑爹的20刀门票<br>
			记得那钻心刺骨的断腿<br>
			记得那悉心的照料<br>
        </div>
		<div class="clientblock">
		  <img src="assets/xi.png" alt=".">
		  <p><strong>囍</strong></p>
		</div>
	  </div><! --/col-md-6 -->
	</section><! --/section -->

  </div><! --/container -->
</div><! --/Testimonials -->

<!-- testimonials 3 -->
<div class="highlight testimonials">
  <div class="container">
	<div class="section-title">
	  <h2>爱</h2>
	</div>

    <section class="row breath">
	  <div class="col-md-6">
		<div class="testblock">
          <p>
            外头好凉快...<br>
            外头好凉快...<br>
            外头好凉快...<br>
            外头好凉快...<br>
            (此处略1000行)<br>
            从天到地,从地到天<br>
            天上掉下一个党代表...<br>
          </p>
        </div>
		<div class="clientblock">
		  <img src="assets/lele.png" alt=".">
		  <p><strong>勒</strong></p>
		</div>
	  </div><! --/col-md-6 -->

	  <div class="col-md-6">
		<div class="testblock">
		  <p>
          	舞步拙劣<br>
			身材走形<br>
			动作难看<br>
			表情狰狞<br>
			<br>
			勒却在一旁笑红了脸<br>
			笑抽了筋<br>
			这大概诠释了什么是<strong>born to make you happy</strong>...<br>
		  </p>
        </div>
		<div class="clientblock">
		  <img src="assets/xi.png" alt=".">
		  <p><strong>囍</strong></p>
		</div>
	  </div><! --/col-md-6 -->
	</section><! --/section -->


  </div><! --/container -->
</div><! --/highlight Testimonials -->


<!-- testimonials 4 -->
<div class="testimonials">
  <div class="container">
	<div class="section-title">
	  <h2>伴</h2>
	</div>

	<section class="row breath">
	  <div class="col-md-6">
		<div class="testblock">
          <p>
            在国外工作生活会对结婚造成很大的影响，例如休假时间不同意，飞跃太平洋的舟车劳顿等等。幸好四位父母大人皆为开明之人，我们这次的婚礼一切从简。只邀请了父母和极少的亲朋，希望大家可以谅解。
          </p>
        </div>
		<div class="clientblock">
		  <img src="assets/lele.png" alt=".">
		</div>
		<div class="clientblock">
		  <img src="assets/xi.png" alt=".">
		</div>
	  </div><! --/col-md-6 -->

	  <div class="col-md-6">
		<div class="testblock">
          <p>
          	相伴走漫漫人生路，携手道款款真情语<br>
          	<img src="assets/kittens.png" width=240 height=240 alt=".">
          </p>
        </div>
	  </div><! --/col-md-6 -->
	</section><! --/section -->

  </div><! --/container -->
</div><! --/Testimonials -->

<main class="footercta" role="main">
  <div class="container">
	<div class="section-title">
      <h1>所谓相行，即是人生</h1>
	</div>

	<section class="row breath">
	  <div id="invitation" class="col-md-6">
        <% @invitation = Invitation.new %>
        <%= render "form"%>
        <figure id="invitation-image" style="display: none">
          <img src="/images/paint/20.jpg"></img>
          <h3>祝君安</h3>
        </figure>
	  </div><! --/col-md-6 -->

	  <div class="col-md-6">
        <h4>关于婚礼</h4>
        <p>
          共两场，新娘出门宴，有宴无仪式，新郎摆婚宴，新人演大戏。新郞家乡不比京江浙沪，山沟沟里交通不便，故从北京或其余外地过去的朋友，麻烦9月30日抵达宽城，家里已安排好晚饭和宾馆住宿。
        </p>
        <h4>关于礼金</h4>
        <p>
          作为工薪一族和曾经的穷苦学生，我们深知大家手捧红色炸弹的复杂心情。因此新人自作主张提供“打欠条”和“寄贺卡”的方式，大伙云淡风清，心意永存。寄贺卡的朋友请私信新人索要地址，打欠条的朋友要记住，有朝一日我们会完璧归赵的哦。
        </p>
	  </div><! --/col-md-6 -->
	</section><! --/section -->
  </div><! --/container -->
</main><! --/main -->

<script src="assets/pace.js"></script>
<script src="assets/bootstrap.js"></script>
<script src="assets/easing.js"></script>
<script src="assets/nicescroll.js"></script>

<script>
 $(function() {
   $('.scrollto, .gototop').bind('click',function(event){
	 var $anchor = $(this);
	 $('html, body').stop().animate({
       scrollTop: $($anchor.attr('href')).offset().top
     }, 1500,'easeInOutExpo');
     event.preventDefault();
   });
 });
</script>
